<!DOCTYPE html>
<html>
<head>
    <title>Lista sprzętu</title>
</head>
<body>
    <h1>Sprzęt dostępny w wypożyczalni</h1>

    <table border="1">
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Opis</th>
            <th>Ilość</th>
            <th>Cena za dobę</th>
            <th>Kaucja</th>
        </tr>

        {% for item in equipment %}
        <tr>
            <td>
                <a href="{% url 'equipment_detail' item.pk %}">
                    {{ item.name }}
                </a>
            </td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price_per_day }} zł</td>
            <td>{{ item.deposit }} zł</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>