<!DOCTYPE html>
<html>
<head>
    <title>Podsumowanie zamówienia</title>
</head>
<body>
    <h1>Potwierdź zamówienie</h1>

    <form method="post">
        {% csrf_token %}

        <label for="start_date">Data rozpoczęcia wypożyczenia:</label><br>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <label for="end_date">Data zakończenia wypożyczenia:</label><br>
        <input type="date" id="end_date" name="end_date" required><br><br>
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li class="{{ message.tags }}" style="color: red; font-weight: bold">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <h3>Sprzęt do wypożyczenia:</h3>
        <ul>
            {% for item in items %}
                <li>
                    {{ item.equipment.name }} – ilość: {{ item.quantity }}
                </li>
            {% endfor %}
        </ul>

        <button type="submit">Zamawiam</button>
    </form>

    <p><a href="{% url 'cart' %}">← Powrót do koszyka</a></p>
</body>
</html>