<!DOCTYPE html>
<html>
<head>
    <title>Wybierz termin wypożyczenia</title>
</head>
<body>
    <h1>Wybierz termin wypożyczenia</h1>
    <form method="post">
        {% csrf_token %}
        <label for="start_date">Data początkowa:</label>
        <input type="date" name="start_date" id="start_date" required min="{{ today }}">
        <br>
        <label for="end_date">Data końcowa:</label>
        <input type="date" name="end_date" id="end_date" required min="{{ today }}">
        <br><br>

        {% if messages %}
          <ul>
            {% for message in messages %}
              <li class="{{ message.tags }}" style="color: red; font-weight: bold">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <button type="submit">Zatwierdź</button>
    </form>
    <br>
    <a href="{% url 'user_panel' %}">← Powrót do panelu użytkownika</a>
</body>
</html>
