{% extends 'base.html' %}
{% load static %}

{% block title %}Start{% endblock %}
{% block nav_start %}active{% endblock %}

{% block content %}
  <section class="hero" style="--hero-img:url('{% static 'img/hero1.jpg' %}')">
    <div class="hero__inner hero__inner--right">
      <h1>Wypożyczalnia<br>sprzętu</h1>
    </div>
  </section>

  <div class="section" style="margin-top:24px">
    <h2>Zdobądź sprzęt, którego potrzebujesz – szybko i wygodnie</h2>
    <p>
        Klub wysokogorski w Poznaniu prowadzi wypozyczalnie sprzetu wspinaczkowego dla swoich czlonkow.
        <br>
        Zaloguj sie aby moc skorzystac z naszych uslug.
    </p>
  </div>

  {% if user.is_authenticated %}
      <p>Witaj, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn--error">Wyloguj</button>
        </form>
  {% else %}
        <div style="margin-top:20px; display:flex; gap:10px;">
          <a href="{% url 'login' %}" class="btn btn--primary">Zaloguj</a>
          <a href="{% url 'register' %}" class="btn btn--secondary">Zarejestruj się</a>
        </div>
  {% endif %}
{% endblock %}
